<article class="project">
  <header class="content-stack">
    <h1><%= @project.title %></h1>
    <p><%= @project.description %></p>
  </header>

  <% if @project.image.present? %>
    <div class="project-image">
      <%= image_tag @project.image, alt: @project.title %>
    </div>
  <% end %>

  <nav class="navigation">
    <%= link_to "See More", @project.url if @project.url.present? %>
    <% if @project.url.present? %> | <% end %>
    <%= link_to "Back", projects_path %>
  </nav>
</article>
